---
import { formatDateSlash } from '$utils/date-formatter'
import { getReadingTime } from '$utils/reading-time'
import { Icon } from 'astro-icon/components'

import { type CollectionEntry } from 'astro:content'

interface Props {
	post: CollectionEntry<'snippets'> | CollectionEntry<'blog'>

	category: CollectionEntry<'categories'>
}

const { post, category } = Astro.props
---

<div class="flex flex-wrap gap-2 text-sm font-semibold">
	<span class="flex items-center gap-2 rounded-md border border-highlight bg-card p-1 px-2">
		<Icon name="mdi:calendar" class="text-icon-hover" />
		{formatDateSlash(post.data.published_time)}</span
	>
	{
		post.data.last_modified_time && (
			<span class="flex items-center gap-2 rounded-md border border-highlight-hover bg-card px-2">
				<Icon name="mdi:update" class="text-icon-hover" />
				{formatDateSlash(post.data.last_modified_time)}
			</span>
		)
	}
	<span class="flex items-center gap-2 rounded-md border border-highlight bg-card p-1 px-2">
		<Icon name={category.data.icon} class="text-icon-hover" />
		{category.data.name}
	</span>
	<span class="flex items-center gap-2 rounded-md border border-highlight bg-card px-2">
		<Icon name="mdi:clock-time-one-outline" class="text-icon-hover" />
		{getReadingTime(post.body)}</span
	>
</div>
