---
import type { HTMLAttributes } from 'astro/types'
import { getImage } from 'astro:assets'
interface Props extends HTMLAttributes<'img'> {}

const { src, ...props } = Astro.props

const desktopImg = await getImage({
	src: src!,
	width: 640,
	height: 360,
	format: 'webp',
	quality: 'mid'
})

const mobileImg = await getImage({
	src: src!,
	width: 640,
	height: 320,
	format: 'webp',
	quality: 'mid'
})
---

<div
	class="mx-auto mb-4 w-full overflow-hidden rounded-md border border-b-4 border-highlight md:w-1/2"
>
	<picture>
		<source media="(max-width: 799px)" srcset={mobileImg.src} />
		<source media="(min-width: 800px)" srcset={desktopImg.src} />
		<img
			src={desktopImg.src}
			alt={props.alt}
			width={desktopImg.options.width}
			height={desktopImg.options.height}
			loading="lazy"
		/>
	</picture>
	<div class="flex justify-center bg-card p-2 text-sm text-body-low-contrast">
		{props.alt}
	</div>
</div>
