---
import Icon from 'astro-icon'
import { getEntry, type CollectionEntry, getEntries } from 'astro:content'

interface Props {
	snippet: CollectionEntry<'snippets'>
}

const { snippet } = Astro.props

const getCategories = await getEntries(snippet.data.categories)
const mainCategory = getCategories[0]
---

<a
	href={`/snippets/${snippet?.slug}`}
	data-type={mainCategory.data.name}
	class="group flex items-center justify-between gap-4 rounded-md border-b-4 border-primary-lighter bg-primary-light p-4 transition-colors hover:border-tag-primary"
>
	<div class="flex gap-2">
		<!-- Icon for Post -->
		<div
			class="rounded-md bg-gradient-to-br from-tag-primary/90 to-tag-secondary/90 p-1 group-hover:from-tag-primary group-hover:to-tag-secondary"
			transition:name={snippet?.data.title}
		>
			<Icon name={mainCategory.data.icon} class="w-4 group-hover:animate-bounce" />
		</div>
		<h3 class="font-mono text-lg font-bold">{snippet?.data.title}</h3>
	</div>
	<span class="font-mono text-accent-light">26 June 2023</span>
</a>
