---
import Icon from 'astro-icon'
import { getEntry, type CollectionEntry, getEntries } from 'astro:content'

interface Props {
	snippet: CollectionEntry<'snippets'>
}

const { snippet } = Astro.props

const getCategories = await getEntry(snippet.data.category)
const mainCategory = getCategories
---

<a
	href={`/snippets/${snippet?.slug}`}
	data-type={mainCategory.data.name}
	class="group flex items-center justify-between gap-4 rounded-md border-b-4 border-primary-shade bg-primary-tone p-4 transition-colors hover:border-tag-primary"
>
	<div class="flex gap-2">
		<!-- Icon for Post -->
		<div
			class="rounded-md bg-gradient-to-br from-tag-primary/90 to-tag-secondary/90 p-1 group-hover:from-tag-primary group-hover:to-tag-secondary"
			transition:name={snippet?.data.title}
		>
			<Icon name={mainCategory.data.icon} class="w-4 group-hover:animate-bounce" />
		</div>
		<h6 class="tracking-wide">{snippet?.data.title}</h6>
	</div>
	<span class="text-accent-tone hidden font-mono md:block">26 June 2023</span>
</a>
