---
import { formatDate } from '$utils/date-formatter'
import { Icon } from 'astro-icon/components'
import { getEntry, type CollectionEntry } from 'astro:content'

interface Props {
	snippet: CollectionEntry<'snippets'>
	as?: 'h2' | 'h3' | 'h4'
}

const { snippet, as: Element = 'h4' } = Astro.props

const category = await getEntry(snippet.data.category)
---

<a
	href={`/snippets/${snippet?.slug}`}
	data-type={category?.data.name.toLowerCase()}
	class="group flex items-center justify-between gap-4 rounded-md border-x border-b-2 border-t border-highlight bg-card p-4 transition-colors duration-150 ease-in-out hover:border-b-category-highlight hover:bg-card-hover"
	transition:name={snippet.data.title}
>
	<div class="flex items-center gap-2">
		<!-- Icon for Post -->
		<div class="rounded-md bg-category p-1">
			<Icon name={category?.data.icon} class="text-category-icon group-hover:animate-bounce" />
		</div>
		<Element class="font-heading text-base font-semibold tracking-wider">
			{snippet?.data.title}
		</Element>
	</div>
	<span class="hidden font-mono text-datetime-text md:block"
		>{formatDate(snippet.data.published_time)}</span
	>
</a>
