---
import BaseLayout from '$layouts/base-layout.astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection, getEntries } from 'astro:content'
import { Icon } from 'astro-icon/components'
import HeroSection from '$components/hero-section.astro'
import BaseSeo from '$components/base-seo.astro'
import { capitalizeString } from '$utils/string-formatter'

const tools = await getCollection('tools')

async function getUniqueCategories() {
	let rawCategories: CollectionEntry<'categories'>[] = []

	for (let tool of tools) {
		const categories = await getEntries(tool.data.categories)
		rawCategories = [...rawCategories, ...categories]
	}

	return rawCategories.filter(
		(current, index, data) => data.map((e) => e.id).indexOf(current.id) === index
	)
}

let uniqueCategories: CollectionEntry<'categories'>[] = await getUniqueCategories()

const currentPage = Astro.url.pathname
const splitPathname = Astro.url.pathname.split('/')
const category = splitPathname[splitPathname.length - 1]

function getCount(id: string) {
	return tools.filter((tool) => tool.data.categories.find((cat) => cat.id === id)).length
}

const capitalizeCategoryTitle = category === 'tools' ? '' : `- ${capitalizeString(category)}`
---

<BaseLayout>
	<Fragment slot="seo">
		<BaseSeo
			title={`Tools ${capitalizeCategoryTitle}`}
			description={`Explore the tools I use${category === 'tools' ? '' : ` for ${category}`}.`}
			type="website"
		/>
	</Fragment>
	<HeroSection title="Tools I Use 💼">
		<p class="font-bold">On this page, I have categorized the tools I use in my digital space.</p>
		<p>
			There's <strong>{category === 'tools' ? tools.length : getCount(category)}</strong> tools in
			total in this page.
		</p>
	</HeroSection>

	<section>
		<ul class="flex flex-wrap justify-center gap-4 font-heading text-sm tracking-wide">
			<li>
				<a
					href="/tools"
					aria-current={currentPage === '/tools' ? 'page' : 'false'}
					class="flex cursor-pointer items-center gap-2 rounded-md border-x border-b-2 border-t border-highlight bg-card p-2 hover:text-heading-hover aria-[current=page]:text-heading-hover"
				>
					<Icon name="mdi:treasure-chest" />
					<span>All</span>
				</a>
			</li>

			{
				uniqueCategories.map((category) => (
					<li>
						<a
							href={`/tools/${category.data.name.toLowerCase()}`}
							aria-current={
								currentPage.includes(category.data.name.toLowerCase()) ? 'page' : 'false'
							}
							class="group flex cursor-pointer items-center gap-2 rounded-md border-x border-b-2 border-t border-highlight bg-card p-2 hover:text-heading-hover
							 aria-[current=page]:text-heading-hover"
						>
							<Icon name={category.data.icon} />
							<span>
								{category.data.name} <span class="font-bold">({getCount(category.id)})</span>
							</span>
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<section class="grid grid-cols-2 gap-4 md:grid-cols-3"><slot /></section>
</BaseLayout>
