---
import { getImage } from 'astro:assets'
import Logo from '$assets/images/ashfid_pixel.png'

interface Props {
	title: string
	description: string
	type: 'website' | 'article'
	published_date?: Date
	tags?: string[]
}

const { title, description, type, published_date, tags } = Astro.props

const optimizedImage = await getImage({
	src: Logo,
	format: 'png',
	width: '180'
})

const urlImage = new URL(optimizedImage.src, Astro.url)
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<title>{title}</title>
<link rel="canonical" href={canonicalURL} />

<meta name="description" content={description} />
<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url.href} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={urlImage} />

{
	published_date ? (
		<meta property="article:published_time" content={published_date.toDateString()} />
	) : null
}
{tags ? <meta property="article:tag" content={tags.join(', ')} /> : null}

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url.href} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={urlImage} />
