---
import { Icon } from "astro-icon";
import ThemeToggler from "./ThemeToggler.svelte";
import Status from "./Status.astro";

const menus = [
  {
    name: "Home",
    icon: "ph:house-simple",
    href: "/",
  },
  {
    name: "Blog",
    icon: "ph:book-open",
    href: "/blog",
  },
  {
    name: "Snippets",
    icon: "ph:sparkle",
    href: "/snippets",
  },
  {
    name: "Bookmarks",
    icon: "ph:bookmark",
    href: "/bookmarks",
  },
  {
    name: "Uses",
    icon: "ph:monitor",
    href: "/uses",
  },
];

const settings = [
  {
    name: "Theme",
    icon: "ph:paint-brush-duotone",
    component: "listbox",
  },
  {
    name: "Sound",
    icon: "ph:music-note",
    component: "checkbox",
  },
  {
    name: "Layout",
    icon: "ph:layout-fill",
    component: "checkbox",
  },
];

const utilities = [
  {
    name: "RSS",
    icon: "ph:rss-simple",
  },
  {
    name: "Sitemap",
    icon: "mdi-light:sitemap",
  },
];

const social = [
  {
    name: "Github",
    link: "https://github.com/ashfidable",
    icon: "ph:github-logo-light",
  },
  {
    name: "Discord",
    link: "https://discordapp.com/users/394953409855488012",
    icon: "ph:discord-logo",
  },
  {
    name: "RSS",
    icon: "ph:rss-simple",
  },
  {
    name: "Sitemap",
    icon: "mdi-light:sitemap",
  },
];

const title: string = "Ashfid";
const titleHover: string =
  "hover:text-accent transition-colors duration-200 ease-in-out cursor-default";

function activeLink(href: string) {
  return Astro.url.pathname === href + "/" || Astro.url.pathname === href;
}
---

<aside
  id="desktop-nav"
  class="justify-between flex-grow-0 flex-shrink-0 hidden p-4 rounded-md md:w-64 md:flex-col bg-primary-light md:flex"
>
  <!-- Navbar -->
  <nav class="flex flex-col gap-4">
    <!-- Logo -->
    <h1
      class="flex items-center justify-center gap-2 text-5xl font-normal text-center font-stylized"
    >
      <span class="text-accent">&#60</span>
      <span>
        {title.split("").map((t) => <span class={titleHover}>{t}</span>)}
      </span>
      <span class="text-accent"> &#62</span>
    </h1>

    <!-- Navigation Links -->
    <section>
      <h6 class="text-slate-400 font-heading">Menu</h6>
      <ul class="flex flex-col gap-[0.375rem]">
        {
          menus.map((menu) => (
            <li>
              <a
                id="swup"
                href={menu.href}
                class:list={[
                  "flex items-center gap-[0.375rem] p-[0.375rem] rounded-md spacing-x-2 transition-colors duration-300 group",
                  {
                    "bg-accent font-semibold text-primary": activeLink(
                      menu.href
                    ),
                    "hover:bg-accent-light": menu.href !== Astro.url.pathname,
                  },
                ]}
              >
                <Icon
                  name={menu.icon}
                  class:list={[
                    "w-6",
                    {
                      "animate-bounce":
                        Astro.url.pathname === menu.href + "/" ||
                        Astro.url.pathname === menu.href,
                    },
                  ]}
                />
                <span>{menu.name}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <!-- Settings -->
    <section>
      <h6 class="text-slate-400 font-heading">Settings</h6>
      <ul class="flex flex-col gap-[0.375rem]">
        {
          settings.map(({ icon, name, component }) => (
            <li class="flex items-center justify-between">
              {component == "listbox" && (
                <ThemeToggler client:load>
                  <Icon name={icon} slot="icon" class="w-6" />
                </ThemeToggler>
              )}
              {component == "checkbox" && (
                <div class="flex justify-between items-center p-[0.375rem] w-full">
                  <div class="flex gap-[0.375rem]">
                    <Icon name={icon} class="w-6" />
                    <span>{name}</span>
                  </div>

                  <input
                    type="checkbox"
                    class="w-4 cursor-pointer checked:accent-accent"
                  />
                </div>
              )}
            </li>
          ))
        }
      </ul>
    </section>
    <!-- Utilities -->
    <section>
      <h6 class="text-slate-400 font-heading">Utilities</h6>
      <ul class="flex flex-col gap-[0.375rem]">
        {
          utilities.map((utility) => (
            <li class="flex gap-[0.375rem] p-[0.375rem]">
              <Icon name={utility.icon} class="w-6" />
              {utility.name}
            </li>
          ))
        }
      </ul>
    </section>
  </nav>
  <!-- Footer -->
  <footer class="flex flex-col gap-4">
    <Status />
    <ul class="flex items-center justify-center gap-4">
      {
        social.map((s) => (
          <li class="transition-colors duration-150 rounded-md hover:bg-accent group">
            <a class="block p-1 cursor-pointer" href={s.link}>
              <Icon name={s.icon} class="w-6 h-6 group-hover:text-black" />
            </a>
          </li>
        ))
      }
    </ul>
  </footer>
</aside>

<nav class="p-4 rounded-md bg-primary-light md:hidden">
  <ul class="flex gap-1 justify-evenly">
    {
      menus.map((menu) => (
        <li class="w-full" id="swup">
          <a
            href={menu.href}
            class:list={[
              "flex flex-col items-center w-full rounded-sm",
              { "bg-accent": activeLink(menu.href) },
            ]}
          >
            <Icon name={menu.icon} class="w-8" />
            {menu.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  var clickSound: HTMLAudioElement = new Audio("audio/click.mp3");

  document.addEventListener("swup:clickLink", (event) => {
    clickSound.pause();
    clickSound.currentTime = 0;
    clickSound.play();
  });

  document.addEventListener("swup:popState", (event) => {
    clickSound.pause();
    clickSound.currentTime = 0;
    clickSound.play();
  });
</script>
