---
import TOC from '$components/posts/table-of-contents.astro'
import { components } from '$components/posts/atoms'

import { getCollection, type CollectionEntry, getEntry } from 'astro:content'
import BaseLayout from '$layouts/base-layout.astro'
import { Icon } from 'astro-icon/components'
import BaseSeo from '$components/base-seo.astro'
import PostDetails from '$components/posts/post-details.astro'
import BackToTop from '$components/back-to-top.svelte'

export async function getStaticPaths() {
	const snippets = await getCollection('snippets')
	return snippets.map((snippet) => ({
		params: { slug: snippet.slug },
		props: { snippet }
	}))
}

interface Props {
	snippet: CollectionEntry<'snippets'>
}

const { snippet } = Astro.props
const { Content, headings } = await snippet.render()
const category = await getEntry(snippet.data.category)
---

<BaseLayout>
	<Fragment slot="seo">
		<BaseSeo
			title={snippet.data.title}
			description={snippet.data.description}
			tags={snippet.data.tags}
			published_date={snippet.data.published_time}
			type="article"
		/>
	</Fragment>
	<BackToTop client:visible />
	<article data-type={category.data.name.toLowerCase()} class="space-y-4">
		<header class="flex flex-col gap-6" transition:name={snippet.data.title}>
			<div class="relative z-30 flex items-center justify-center rounded-md bg-category p-4">
				<h1
					class="relative z-30 text-center font-heading text-3xl font-bold tracking-wide text-category [text-wrap:balance]"
				>
					<span>{snippet.data.title}</span>
				</h1>
			</div>

			<PostDetails post={snippet} category={category} />
		</header>

		<TOC headings={headings} />

		<article class="flex snap-y flex-col">
			<Content
				components={{
					...components
				}}
			/>
		</article>
	</article>
</BaseLayout>
